/* --- general --- */
body { background-color: #7ec0ee; font-size: 16px; font-weight: 400; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; margin: 0; }
.app { height: 100vh; }
.modalDiv { display: inline-block; position: relative; width: 50%; min-height: 30%; margin-top: 100px; left: 25%; background-color: white; border: 1px solid #292929; padding: 15px;
}
.formContainer { display: inline-block; position: relative; width: calc(100% - 30px); background-color: white; border: 1px solid #292929; padding: 15px; }
.left { width: 40%; float: left; clear: right; margin-bottom: 10px; }
.right { width: 60%; float: right; margin-bottom: 10px; }
form input[type=text], form input[type=password], form input[type=file], form select { font-size: 16px; padding: 5px; }
form input[type=text], form input[type=password], form input[type=file] { width: calc(100% - 15px); margin-right: 15px; }
form select { width: 100%; }
form button { min-width: 120px; background: #ffca31; border: 1px solid #292929; color: #292929; text-decoration: none; cursor: pointer; font-size: 16px; padding: 5px; margin-right: 15px; }
form button:hover { text-decoration: underline; }
form button:last-of-type { margin-right: 0px; }
.errorMsg { color: red; font-size: 20px; font-weight: 400; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; }
.contentErrorMsg { width: calc(100% - 32px); display: block; float: left; clear: both; margin-bottom: 10px; padding: 15px; background-color: white; border: 1px solid #666; color: red; font-size: 20px; font-weight: 400; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; }

/* --- headerRow --- */
.headerRow { width: 100%; float: left; clear: right; }
.headerRow .title { display: flex; justify-content: flex-start; align-items: center; width: 250px; min-height: 90px; padding-left: 15px; float: left; clear: right; }
.headerRow .title .titleContainer { display: inline-block; width: 100%; height: 25px;box-sizing: border-box; border: 1px solid #292929; }
.headerRow .title .titleContainer .titleFont { width: 10%; height: 100%; font-size: 18px; font-weight: 700; float: left; clear: right; display: flex; justify-content: center; align-items: center; }
.headerRow .title .titleContainer .titleFont.black { background-color: #292929; color: #ffca31; }
.headerRow .title .titleContainer .titleFont.yellow { background-color: #ffca31; color: #292929; }
.headerRow .greeting { display: flex; justify-content: center; align-items: center; width: 200px; min-height: 90px; float: left; clear: right; }
.headerRow .greeting .username { margin-left: 6px; font-weight: 700; }
.headerRow nav { display: flex; justify-content: flex-end; align-items: center; width: calc(100% - 465px); height: 90px; float: left; clear: right; }
.headerRow nav .links { float: right; clear: right; text-align: right; background-color: #ffca31; padding: 0 15px; border: 1px solid #292929; margin-right: 15px; }
.headerRow nav .links a { margin-right: 20px; color: #292929; background-color: #ffca31; font-weight: 400; padding: 0 15px; }
.headerRow nav .links a:last-of-type { margin-right: 0; }
.headerRow nav .links .active { background-color: #292929; color: #ffca31; }
@media only screen and (max-width: 700px) {
  .headerRow .title { width: calc(100% - 30px); height: auto; min-height: 60px; float: left; clear: right; }
  .headerRow .greeting { width: 100%; height: auto; min-height: 60px; float: left; clear: right; }
  .headerRow nav { width: 100%; height: auto; min-height: 60px; float: left; clear: right; }
  .headerRow nav .links { text-align: left; }
}

/* --- contentRow --- */
.contentRow { width: calc(100% - 30px); min-height: calc(100vh - 154px); float: left; clear: right; padding: 0 15px 64px 15px;  background-image: url('grass.png'); background-repeat: repeat-x; background-attachment: scroll; background-position: bottom; }
.contentRow .navbar { width: 20%; min-height: calc(100vh - 154px); float: left; clear: right; margin-right: 15px; }
.contentRow .navbar .navbarHeader { background-color: #292929; color: white; border: 1px solid #292929; padding: 0 15px; }
.contentRow .navbar .navbarContent { overflow-x: hidden; overflow-y: auto; }
.contentRow .navbar .navbarContent::-webkit-scrollbar { height: 12px; width: 12px; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-thumb:vertical { background-color: transparent; border-radius: 6px; }
.contentRow .navbar .navbarContent:hover::-webkit-scrollbar-thumb:vertical { background-color: rgba(0, 0, 0, 0.15); border: 3px solid #f6f7f8; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:vertical { display: block; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:start:decrement { display: block; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:end:increment { display: block; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:vertical:start:increment { display: none; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:vertical:end:decrement { display: none; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:vertical:increment { display: none; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-button:vertical:decrement { display: none; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-track:vertical { display: none; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-track-piece { background-color: transparent; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-corner:vertical { background-color: transparent; }
.contentRow .navbar .navbarContent::-webkit-scrollbar-resizer:vertical { background-color: transparent; }
.contentRow .navbar .navbarContent .buttonDiv { background-color: #ffca31; border-left: 1px solid #292929; border-right: 1px solid #292929; border-bottom: 1px solid #292929; }
.contentRow .navbar .navbarContent .buttonDiv.random { margin-top: 15px; border-top: 1px solid #292929; }
.contentRow .navbar .navbarContent .buttonDiv p { padding: 0 15px; }
.contentRow .navbar .navbarContent .buttonDiv button { width: 100%; background: none; border: none; color: #292929; text-decoration: none; cursor: pointer; font-size: 16px; padding: 5px; }
.contentRow .navbar .navbarContent .buttonDiv button:hover { text-decoration: underline; }
.contentRow .navbar .navbarContent .buttonDiv button.active { background: #292929; color: #ffca31; }
.contentRow .contentDiv { width: calc(80% - 15px); float: right; clear: right; }
.contentRow .contentDiv .contentHeader { background-color: #292929; color: white; border: 1px solid #292929; padding: 0 15px; }
.contentRow .contentDiv .item { width: calc(100% - 32px); display: block; float: left; clear: both; margin-bottom: 15px; padding: 0 15px; background-color: white; border: 1px solid #666; }
.contentRow .contentDiv .item * { display: none; }
.contentRow .contentDiv .item .title { display: block; width: calc(100% - 47px); min-height: 25px; background: url('open.png') no-repeat right center; cursor: pointer; padding: 10px 0; margin: 0; padding-right: 45px; font-weight: 700; }
.contentRow .contentDiv .item.active { display: block; font-size: 16px; font-weight: 400; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; padding-bottom: 15px; }
.contentRow .contentDiv .item.active * { display: inline-block; }
.contentRow .contentDiv .item.active .title { background: url('close.png') no-repeat right center; }
.contentRow .contentDiv .item.active .content * { max-width: 100%; }
.contentRow .contentDiv .item.active .content img { height: auto; }
.contentRow .contentDiv .item.active .link { margin-top: 15px; }
.contentRow .contentDiv .item.active .link a { word-break: break-all; }
.contentRow .contentDiv .item.active .date { margin-top: 15px; }
@media only screen and (max-width: 1000px) {
  .contentRow .navbar { width: 25%; }
  .contentRow .contentDiv { width: calc(75% - 15px); }
}
@media only screen and (max-width: 800px) {
  .contentRow .navbar { width: 250px; }
  .contentRow .contentDiv { width: calc(100% - 265px); }
}
@media only screen and (max-width: 700px) {
	.contentRow { min-height: auto; }
  .contentRow .navbar { width: 100%; min-height: auto; float: left; clear: right; margin-bottom: 15px; }
  .contentRow .contentDiv { width: 100%; min-height: auto; float: left; clear: right; }
}

/* --- MyDetails --- */
.myDetails { clear: both; }
.myDetailsName { width: 70%; float: left; clear: right; }
.myDetailsAction { width: 15%; float: left; clear: right; }

/* --- Admin --- */
.adminName { width: 55%; float: left; clear: right; }
.adminAction { width: 15%; float: left; clear: right; }

/* --- Loader --- */
.loaderWrapper { display: block; position: absolute; width: 160px; height: 160px; top: calc(50% - 150px); left: calc(50% - 40px); background-color: #7ec0ee; border-radius: 50%; border: solid 3px #292929; }
.lds-roller { width: 80px; height: 80px; position: absolute; top: 50%; left: 50%; margin: -40px 0 0 -40px; }
.lds-roller div { animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; transform-origin: 40px 40px; }
.lds-roller div:after { content: " "; display: block; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: #ffca31; margin: -4px 0 0 -4px; }
.lds-roller div:nth-child(1) { animation-delay: -0.036s; }
.lds-roller div:nth-child(1):after { top: 63px; left: 63px; }
.lds-roller div:nth-child(2) { animation-delay: -0.072s; }
.lds-roller div:nth-child(2):after { top: 68px; left: 56px; }
.lds-roller div:nth-child(3) { animation-delay: -0.108s; }
.lds-roller div:nth-child(3):after { top: 71px; left: 48px; }
.lds-roller div:nth-child(4) { animation-delay: -0.144s; }
.lds-roller div:nth-child(4):after { top: 72px; left: 40px; }
.lds-roller div:nth-child(5) { animation-delay: -0.18s; }
.lds-roller div:nth-child(5):after { top: 71px; left: 32px; }
.lds-roller div:nth-child(6) { animation-delay: -0.216s; }
.lds-roller div:nth-child(6):after { top: 68px; left: 24px; }
.lds-roller div:nth-child(7) { animation-delay: -0.252s; }
.lds-roller div:nth-child(7):after { top: 63px; left: 17px; }
.lds-roller div:nth-child(8) { animation-delay: -0.288s; }
.lds-roller div:nth-child(8):after { top: 56px; left: 12px; }
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
